{% extends 'theme.html' %}

{% block title %}
Add New Hero
{% endblock title %}

{% block content %}
<div class="container m-5">

    {% load crispy_forms_tags %}

    <h2>Add a New Hero</h2>

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button class="btn btn-success m-5" type="submit">Save Record</button>
        <!-- Only include this if editing a hero, not adding a new one -->
        <!-- <a class="btn btn-danger m-5" href="{% url 'hero_delete' hero.id %}">Delete Record</a> -->
    </form>

</div>
{% endblock content %}