{% extends 'hero/theme.html' %}

{% block title %}
    Heroes List
{% endblock %}

{% block content %}
    <h2>Meet Our Heroes</h2>

    {% if heroes %}
        <ul>
            {% for hero in heroes %}
                <li>
                    <strong>{{ hero.name }}</strong> ({{ hero.identity }})
                    <p>{{ hero.description }}</p>
                    <p>Strengths: {{ hero.strengths }}</p>
                    <p>Weaknesses: {{ hero.weaknesses }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No heroes found.</p>
    {% endif %}
    
    <a href="{% url 'hero_add' %}" class="new-hero">Add New Hero</a>
{% endblock %}